@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100&family=Bowlby+One&family=DynaPuff:wght@500;700&family=Montserrat&display=swap');

/* header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px ;
}
.nav-list {
  display: inline-flex;
  
  color: #ffffff;
  

 
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
list-style: none;
cursor: pointer;

}

.nav-item {
  margin-left: 30px;
}

.nav-button {
  color: #ffffff;
  width: 172px;
height: 53px;
top: 63px;
left: 1212px;
border-radius: 4px;
background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);

  
}