@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100&family=Bowlby+One&family=DynaPuff:wght@500;700&family=Montserrat&display=swap');
:root {
  --primary-color: #D434FE;
  --secondary-color: #001233;
  --gray-color: #979dac;
  --white: #ffffff;
}

.home-container {
  flex-wrap: wrap;
  /* padding: 0 80px; */
}


.head-text {
  font-family: Montserrat;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.home {
  position: relative;
}

.title-div-cont {
  display: flex;
  justify-content: space-around;
}

.participate {
  color: var(--white);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;

}

.title {
  width: 700px;
  height: 236px;
  top: 293px;
  /* position: relative; */
}

.glassesman {
  width: 100%;
  height: 715px;
  top: 0;
  position: relative;
  z-index: 1;
  mix-blend-mode: luminosity;
  opacity: 0.9;
}


.img-overlay {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 2;

}

.vector {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.home-button {
  width: 172px;
  color: var(--white);
  height: 53px;
  top: 644px;
  left: 132px;
  border-radius: 4px;
  margin-top: 30px;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.countdown {
  margin-top: 60px;
}

.bulb-img {
  width: 490px;
  height: 477px;
  top: 1016px;
  left: 230px;

}

.introduction {
  display: flex;
  justify-content: space-around;
}

.star {
  width: 26px;
  height: 32px;
  top: 1687px;
  margin-left: 250px;

}

.highlighted-text {
  color: var(--primary-color);
}

.intro-textcont {
  color: var(--white);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  width: 535px;
  height: 165px;
  margin-top: 120px;
  left: 829px;
}

.intro-text {
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  width: 398px;
  height: 86px;
  top: 1147px;
  left: 826px;

}

hr {
  width: 100%;
  margin-top: 45px;
  left: 1803px;
  border: 1px solid #FFFFFF2E;
}



.rules-cont {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.rules-book {
  padding: 0 80px;
  margin-top: 140px;
  position: relative;
}

.lensflare {
  position: absolute;
  width: 1037px;
  height: 948px;
  /* background: radial-gradient( #D434FE, transparent); */
  /* border-radius: 50%; */
  filter: blur(120px);
  bottom: -40px;
  left: 100%;
  transform: translateX(-50%);
}

.rules-heading {
  width: 170px;
  height: 86px;
  top: 1709px;
  left: 181px;
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;

}

.rules {
  width: 520px;
  height: 165px;
  top: 1811px;
  left: 184px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;

}

.sittinglady-img {
  width: 664px;
  height: 664px;
  top: 1525px;
  left: 767px;

}

.criteria-cont {
  display: flex;
  justify-content: space-between;
 
 
}

.two-reader-img {
  width: 710px;
  height: 587px;
  top: 2394px;
  left: 66px;
  margin-top: 160px;

}

.criteria {
  color: var(--white);
  padding: 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 60px;
  /* width: 533px; */
  /* height: 75px; */
  /* top: 2374px;
left: 829px; */


}

.criteria-header {

  width: 267px;
  height: 86px;
  top: 2267px;
  left: 829px;
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.first-criteria {
  font-family: Montserrat;
  width: 533px;
  height: 75px;
  margin-top: 20px;
  left: 829px;
  padding: 0 5px;
}

.second-criteria {
  width: 509px;
  height: 75px;
  margin-top: 20px;
  left: 829px;
  font-family: Montserrat;
  padding: 0 5px;

}

.third-criteria {
  width: 524px;
  height: 99px;
  margin-top: 20px;
  left: 829px;
  padding: 0 5px;

}

.fourth-criteria {
  width: 558px;
  height: 75px;
  margin-top: 20px;
  left: 829px;
  padding: 0 5px;

}

.fifth-criteria {
  width: 564px;
  height: 75px;
  margin-top: 20px;
  left: 829px;
  padding: 0 5px;

}

.Faqs-div{
  display: flex;
  justify-content: space-between;
}

.Faq-img {
  width: 741px;
height: 741px;
margin-top: 70px;
left: 670px;

}
.Faqs-cont {
  color:  var(--white);
  margin-top: 80px;
  padding: 0 100px;
  
 
}

.Faqs-title{
  font-family: Clash Display;
font-size: 32px;
font-weight: 700;
line-height: 43px;
letter-spacing: 0em;
text-align: left;
width: 253px;
height: 86px;
/* margin-left: 12px; */




}

.Faqs {
  
  

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  
  width: 342px;
height: 55px;
/* margin-left: 12px; */
margin-top: 20px;

  

}

.accordion {
  width: 440px;
height: 41px;

left: 219px;
border: 1px;
margin-top: 50px;


  /* max-width: 600px; */
 

  /* margin: 2rem auto; */
}

.accordion-content{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem 0;
  

}


.condition{
  font-size: 25px;
  color: var(--primary-color);
}



/* .accordion-title:hover {
  background-color: #3ab4cc;
} */

.accordion-title
{
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
  
}

.prize-money {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.prize-options {
  display: flex;
  justify-content: flex-end;
}

.reward-text-div {
  color: var(--white);
  margin: 10% 0 10% 20%;
}

.reward-text {
  width: 174px;
height: 78px;
font-family: Clash Display;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
margin-bottom: 2%;


}

.reward-text2 {
  width: 401px;
height: 51px;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;

}

.reward-img {
  width: 520px;
height: 462px;
margin-top: 22%;

}

.medal-image {
  width: 600px;;
height: 450px;


}

.reward-foot {
  color: var(--white);
  text-align: center;
  
}

.reward-foot h1 {
  width: 376px;
height: 28px;

font-family: Clash Display;
font-size: 32px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;


}

.reward-foot h6 {
 
  width: 452px;
  height: 55px;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;


}

.sponsors {
  width: 898px;
height: 272px;

}

.privacy-policy {
  color: var(--white);
  display: flex;
  justify-content: space-around;
}

.privacy-div {
  margin-top: 100px;
}

.privacy-header {
  width: 300px;
height: 78px;
top: 7623px;
left: 187px;
font-family: Clash Display;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;

}

.update {
  width: 258px;
height: 28px;
margin-top: 18px;
left: 187px;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;


}

.update-policy {
  width: 438px;
height: 52px;
margin-top: 25px;
left: 187px;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;


}

.getlinked-text {
  width: 425px;
height: 180px;
top: 7956px;
left: 259px;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;


}

.licenced {
  width: 136px;
height: 35px;
top: 8160px;
left: 260px;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;


}

.checkmark1 {
  width: 291px;
height: 30px;
top: 8192px;
left: 260px;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;


}

.checkmark {
  width: 401px;
height: 60px;
top: 8240px;
left: 294px;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;


}

.vectorlock {
  position: absolute;
  width: 530px;
height: 648px;


/* top: 7547px; */
/* left: 859px; */

}


.keyman {
  position: relative;
  top: 20%;
  width: 559px;
height: 749px;
/* top: 7750px; */
right: 70px;

}

.getlinked {
  border: 1px solid var(--primary-color);
  /* width: 569px; */
  padding: 70px;
height: 608px;
 margin-top: 75px;

border-radius: 5px;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}



/* header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px ;
}
.nav-list {
  display: inline-flex;
  
  color: #ffffff;
  

 
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
list-style: none;
cursor: pointer;

}

.nav-item {
  margin-left: 30px;
}

.nav-button {
  color: #ffffff;
  width: 172px;
height: 53px;
top: 63px;
left: 1212px;
border-radius: 4px;
background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);

  
}